/*-------------GLOBAL-------------*/
:root {
  --lysbrun: #846a49;
  --morkbrun: #3e2b26;
  --baggrund: #232323;
  --lys: #e7d9cc;
}

body {
  background-color: var(--baggrund);
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin-left {
  margin-left: 8rem;
}

/*--NAVIGATION--*/
.navigation {
  width: 100%;
  position: relative; /* Change from sticky to relative */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--baggrund);
}

.logo img {
  height: 50px;
  width: auto;
  margin-left: 5rem;
}

nav {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  flex: 1;
  margin-left: 4rem;
}

.nav-links li {
  margin-right: 3rem;
}

.nav-links a {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: var(--lysbrun);
  font-size: 17px;
}

.nav-links a:hover {
  color: var(--lys);
}

.nav-button {
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 5rem;
}

.nav-button a {
  padding: 10px 40px;
  background-color: var(--lysbrun);
  color: var(--lys);
  text-decoration: none;
  border-radius: 0;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
}

.nav-button a:hover {
  background-color: var(--lys);
}

/*--SOCIAL LINKS--*/
.social-links {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.social-icon {
  color: var(--lysbrun);
  font-size: 20px; /* Size of the social icons */
  margin-left: 0.5rem; /* Space between icons */
  margin-right: 0.5rem; /* Space between icons */
  text-decoration: none;
}

.social-icon.instagram {
  font-size: 24px; /* Slightly larger Instagram icon */
}

.social-icon:hover {
  color: var(--lys);
}

/*--BURGERMENU--*/
.burger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
}

.burger-menu div {
  background-color: var(--lysbrun);
  height: 4px;
  width: 100%;
  transition: all 0.3s;
}

/*--BURGERMENU ANIMATION--*/
.burger-menu.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.burger-menu.toggle .line2 {
  opacity: 0;
}

.burger-menu.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -6px);
}

/*--FOOTER--*/
footer {
  background-color: var(--lysbrun);
  color: var(--baggrund);
  padding: 1rem;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin: 0 5rem;
  font-family: Helvetica, sans-serif;
}

.footer-left,
.footer-middle,
.footer-right {
  margin: 0; /* Remove margin */
}

.footer-left a,
.footer-middle a,
.footer-right a {
  text-decoration: none;
  color: var(--baggrund);
}

.footer-left a:hover,
.footer-middle a:hover,
.footer-right a:hover {
  text-decoration: underline;
}

.footer-button a {
  padding: 10px 40px;
  background-color: var(--baggrund);
  color: var(--lys);
  text-decoration: none;
  border-radius: 0;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
}

.footer-button a:hover {
  background-color: var(--lys);
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2rem;
}

.social-icon-footer {
  color: var(--baggrund);
  font-size: 20px; /* Size of the social icons */
  margin-left: 0.5rem; /* Space between icons */
  margin-right: 0.5rem; /* Space between icons */
  text-decoration: none;
}

.social-icon-footer.instagram {
  font-size: 24px; /* Slightly larger Instagram icon */
}

.social-icon-footer:hover {
  color: var(--lys);
}

.footer-together {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*--FORSIDE--*/
.grid1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  background-color: var(--lysbrun);
  padding: 2rem 3rem;
  margin-bottom: 5rem;
  width: 100%;
  column-gap: 2rem;
}

.grid1_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid1 img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  font-weight: 100;
  color: var(--baggrund);
}

h2 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: var(--baggrund);
  margin-bottom: 4.5rem;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: var(--baggrund);
  margin-bottom: 1.5rem;
}

.button {
  display: flex;
  align-items: center;
}

.button a {
  padding: 10px 40px;
  background-color: var(--baggrund);
  color: var(--lys);
  text-decoration: none;
  border-radius: 0;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

.button a:hover {
  background-color: var(--morkbrun);
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0rem 8rem;
  gap: 2rem;
  margin-bottom: 5rem;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: flex-end; /* Placerer indholdet til højre i containeren */
  align-items: flex-start; /* Centerer indholdet vertikalt i containeren */
  overflow: hidden;
}

.grid2 img {
  max-width: 100%; /* Billederne fylder op til 100% af kolonnens bredde */
  height: auto; /* Bevarer billedets proportioner */
}

h4 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-size: 25px;
  color: var(--lysbrun);
  margin-bottom: 0.5rem;
}

p {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: var(--lys);
  line-height: 1.5rem;
}

/*------------- MOBIL-------------*/
@media (max-width: 768px) {
  .social-links {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0rem;
  }

  .logo img {
    margin-left: 2rem;
  }

  .burger-menu {
    display: flex;
    margin-right: 2rem;
  }

  nav {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%; /* Adjust based on header height */
    left: 0;
    margin-left: 0;
    background-color: var(--baggrund);
    padding-bottom: 100vh;
  }

  nav.active {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-left: 0rem;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .nav-links a {
    display: block; /* Make sure each link takes the full width */
  }

  .nav-button {
    margin: 15px 0;
    text-align: center;
  }

  .nav-button a {
    display: block;
  }

  .footer {
    max-width: 100%;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 0rem;
    max-width: 100%;
    margin-left: 2rem;
  }

  .footer-socials {
    margin-right: 0rem;
  }

  .social-icon-footer {
    margin: 0;
    margin-right: 0.5rem;
  }

  /*--FORSIDE--*/
  .grid1 {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  h1 {
    font-size: 60px;
    white-space: nowrap;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 15px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0rem 2rem;
    gap: 2rem;
    margin-bottom: 5rem;
    width: 100%;
  }

  .margin-left {
    margin-left: 2rem;
  }

  .image-container {
    display: flex;
    justify-content: flex-start; /* Placerer indholdet til højre i containeren */
    align-items: flex-start; /* Centerer indholdet vertikalt i containeren */
    overflow: hidden;
  }

  .grid2 img {
    width: 100%; /* Billederne fylder op til 100% af kolonnens bredde */
    height: auto; /* Bevarer billedets proportioner */
  }

  h4 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    font-size: 25px;
    color: var(--lysbrun);
    margin-bottom: 0.5rem;
  }

  p {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: var(--lys);
    line-height: 1.5rem;
  }
}

/*-------------TABLET-------------*/
@media (min-width: 769px) and (max-width: 1024px) {
  .navigation {
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .logo img {
    margin-left: 0;
  }

  .nav-links {
    margin-left: 0;
  }

  .nav-button {
    margin-right: 0;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    align-items: center;
    margin: 0 2rem;
  }

  .social-links {
    display: flex;
    margin-right: 1rem; /* Space between social links and booking button */
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }

  .nav-links li {
    margin: 0 1.5rem;
  }

  .burger-menu {
    display: none;
  }

  /*--FORSIDE--*/
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 15px;
  }

  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem 5rem;
    gap: 2rem;
    margin-bottom: 5rem;
    width: 100%;
  }

  .margin-left {
    margin-left: 5rem;
  }

  .image-container {
    display: flex;
    justify-content: flex-end; /* Placerer indholdet til højre i containeren */
    align-items: flex-start; /* Centerer indholdet vertikalt i containeren */
    overflow: hidden;
  }

  .grid2 img {
    width: 100%; /* Billederne fylder op til 100% af kolonnens bredde */
    height: auto; /* Bevarer billedets proportioner */
  }

  h4 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    font-size: 25px;
    color: var(--lysbrun);
    margin-bottom: 0.5rem;
  }

  p {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: var(--lys);
    line-height: 1.5rem;
  }
}
